$sidebar-width: 300px
$sidebar-bg-color: #ccc

.sidebar
  position: fixed
  top: 0
  left: 0
  width: $sidebar-width
  height: 100%
  background-color: $sidebar-bg-color

.content
  margin-left: $sidebar-width
