<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="statsApp">
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">

        <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <title>bball-stats</title>

        <!-- build:css styles/bower.css -->
        <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
        <link rel="stylesheet" href="bower_components/ratchet2/css/ratchet.css">
        <link rel="stylesheet" href="bower_components/ratchet2/css/ratchet-theme-ios.css">
        <!-- endbuild -->

        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/application.css">
        <!-- endbuild -->
    </head>
    <body>
      <div class="sidebar content">
          <ul class="table-view">
            <li class="table-view-cell">
              <a class="navigate-right" href="#">
                <strong>Players</strong>
              </a>
            </li>
          </ul>
      </div>

      <div class="content main-content">
        <div ng-controller="PlayerController">
          <div class="card content-padded">
            <h1>Players</h1>

            <ul class="vertical-list">
              <li class="player" ng-repeat="player in players.all">
                <span ng-bind="player.name"></span>
                <span class="jersey-number" ng-bind="player.number"></span>
              </li>
            </ul>
          </div>

          <form class="input-group card" ng-submit="addPlayer()">
            <input id="playerName" type="text" placeholder="Full name" ng-model="playerName">
            <input id="playerNumber" type="number" placeholder="Jersey number" max="99" value="10" ng-model="playerNumber">
            <button type="submit" class="btn btn-positive">Add Player</button>
          </form>
        </div>
      </div>

        <script type="text/javascript" src="cordova.js"></script>

        <!-- build:js scripts/lib.js -->
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/ngStorage/ngStorage.js"></script>
        <script type="text/javascript" src="bower_components/ratchet2/js/ratchet.js"></script>
        <!-- endbuild -->

        <!-- build:js(.tmp) scripts/main.js -->
        <script src="scripts/index.js"></script>
        <script src="scripts/services/players.js"></script>
        <script src="scripts/controllers/player.js"></script>
        <!-- endbuild -->
</body>
</html>
